ul li {
    list-style: none;
}

.lang {
    display: flex;
    justify-content: center;
    padding: 0;
}
.lang li {
    margin: 10px;
    font-weight: bold;
    list-style: none;
}
.popular-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.popular-item {
    margin: 20px;
    text-align: center;
}
.popular-rank {
  font-size: 20px;
  margin: 10px;
}
.space-list-item {
    margin-bottom: 7px;
}
.avatar {
    width: 150px;
    border-radius: 50%;  
}

.nav {
  display: flex;
}

.nav li {
  margin-right: 15px;
}

.nav li a.active {
  font-weight: bold;
}