body {
    background-color: #000;
}
body div {
    color: #fff;
}
.container {
    color: yellow;
}
.lang {
    display: flex;
    justify-content: center;
    padding: 0;
}
.lang li {
    margin: 10px;
    font-weight: bold;
    list-style: none;

}